@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.background {
    background: url("./src/img/Beach.jpg") no-repeat center center fixed; 
    background-size: cover
}

#quote {
    width: 20rem;
    margin-left: 0.5rem;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.5rem;
}

h2 {
    font-weight: lighter;
    font-size: 2.5rem;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0.5rem;
}

#weather {
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 0.5rem;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
}

#change-background {
    position: absolute;
    bottom: 0;
    left: 0;
}
